# Порты наружу
KAFKA_PORT=9092
SCHEMA_REGISTRY_PORT=8081

# Идентификатор окружения (для читаемости)
ENV_NAME=dev

# Kafka (KRaft, локальные дефолты)
# Для single-node оставляем 1. Для кластера задаются уникальные node.id на каждой ноде.
KAFKA_NODE_ID=1
# Cluster ID для KRaft (один и тот же для всех нод кластера).
# Если нужно сгенерировать новый: kafka-storage.sh random-uuid (на любой машине с Kafka tools).
KAFKA_KRAFT_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_ADVERTISED_HOST=localhost

# Swarm/сервер (пример)
STACK_NAME=kafka

